nav {
  display:flex;
  font-family: bungee, sans-serif;
  font-size: xx-large;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left:1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: fixed; /* Set the navbar to fixed position */
  top:0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
#navtop {
  display:flex;
  flex-direction: column;
  font-size: x-large;
  font-family: sans-serif;
  align-items: center;
}

i {
  color: red;
}