.new-tweet form {
  display:flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
}

.new-tweet div {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top:0.5em;
  margin-bottom:0.5em;
  font-family: bungee;
}
.new-tweet button{
  background-color: #4056A1;
  color: #FFFFFF;
  padding-top:0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.new-tweet label{
  margin-bottom: 0.5em;
}
.new-tweet textarea{
  border:0;
  background: transparent;
  border-bottom: 3px solid rgb(134, 128, 128);
  color: solid black;
  font-size: smaller;
  font-weight:bold;
}